{
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 140,
    "semi": false,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 140,
                "singleQuote": false
            }
        }
    ],
    "plugins": ["prettier-plugin-solidity"]
}
